<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/output.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">


  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/sse.js"></script>
  <!-- <script src="//unpkg.com/alpinejs" defer></script> -->
</head>

<body class="bg-background text-foreground">
  <main id="content">{% block body %}{% endblock %}</main>
</body>

</html>